<main id="main" class="main">
  <div class="pagetitle">
    <h1>List Line</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          <a routerLink="/line" class="active">index</a>
        </li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="card">
        <div class="card-body">
        <div class="d-flex justify-content-between">

            <div class="row my-3" *ngIf="data.length">
              <div class="col-12">
                <input type="text" class="form-control" [(ngModel)]="term" placeholder="Search" style="border-radius: 13px;">
              </div>
            </div>
            <a routerLink="/line/create" class="btn btn-primary my-3" style="border-radius: 13px;">Create Data</a>
          </div>
          <table class="table table-hover text-center">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!data.length; else tes">
                <td colspan="7" class="text-center">Belum ada data.</td>
              </tr>
              <ng-template #tes>
                <tr
                  *ngFor="
                    let item of data
                      | filter : term
                      | paginate
                        : { itemsPerPage: itemsPerPage, currentPage: p };
                    index as i
                  "
                >
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.name }}</td>
                  <td>
                    <div class="dropdown">
                      <i
                        class="bi bi-three-dots-vertical"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                      ></i>
                      <ul class="dropdown-menu">
                        <li>
                          <a
                            class="dropdown-item"
                            routerLink="/line/edit/{{ item.id }}"
                            ><i class="bi bi-pencil"></i> Edit</a
                          >
                        </li>
                        <li>
                          <form action="">
                            <button
                              class="dropdown-item"
                              type="submit"
                            (click)="delete(item.id)"
                            >
                              <i class="bi bi-trash"></i>
                              Delete
                            </button>
                          </form>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
          <div *ngIf="data.length" class="d-flex justify-content-center mt-3">
            <pagination-controls
              (pageChange)="p = $event"
            ></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
