<main style="background-image: url('assets/img/documents.jpg');background-repeat: no-repeat; background-size: cover;" >
  <div style="background-color: rgba(0, 56, 101, .6);">
    <section
      class="section register min-vh-100  d-flex flex-column align-items-center justify-content-center py-4"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div
            class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center"
          >
            <div class="card mt-4" style="width: 700px">
              <div class="d-flex justify-content-center pt-4">
                <a
                  href="index.html"
                  class="logo d-flex align-items-center w-auto"
                >
                  <img src="assets/img/favicon.png" alt="" />
                  <span class="d-none d-lg-block">Autonum</span>
                </a>
              </div>
              <div class="card-body">
                <div class="pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">
                    Create an Account
                  </h5>
                  <p class="text-center small">
                    Enter your personal details to create account
                  </p>
                </div>
                <form
                  class="row g-3 needs-validation justify-content-center"
                  novalidate=""
                  [formGroup]="form"
                  (submit)="submit()"
                >
                  <div class="col-12">
                    <div
                      class="alert alert-danger alert-dismissible fade show"
                      role="alert"
                      *ngIf="errorMsg"
                    >
                      <i class="bi bi-exclamation-octagon me-1"></i>
                      {{ errorMsg }}
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                  </div>
                  <div class="col-6 mt-0">
                    <label for="yourUsername" class="form-label"
                      >Username</label
                    >
                    <div class="input-group has-validation">
                      <input
                        type="text"
                        name="username"
                        class="form-control"
                        id="yourUsername"
                        required=""
                        formControlName="username"
                      />
                      <div class="invalid-feedback">
                        Please choose a username.
                      </div>
                    </div>
                  </div>
                  <div class="col-6 mt-0">
                    <label for="yourName" class="form-label">Fullname</label>
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="yourName"
                      required=""
                      formControlName="fullname"
                    />
                    <div class="invalid-feedback">Please, enter your name!</div>
                  </div>
                  <div class="col-6">
                    <label for="yourEmail" class="form-label">Your Email</label>
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="yourEmail"
                      required=""
                      formControlName="email"
                    />
                    <div class="invalid-feedback">
                      Please enter a valid Email adddress!
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="yourPassword" class="form-label"
                      >Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="yourPassword"
                      required=""
                      formControlName="password"
                    />
                    <div class="invalid-feedback">
                      Please enter your password!
                    </div>
                  </div>
                  <div class="col-6">
                    <label for="yourPassword" class="form-label"
                      >Confirm Password</label
                    >
                    <input
                      type="password"
                      name="password"
                      class="form-control"
                      id="yourPassword"
                      required=""
                      formControlName="confirmPassword"
                    />
                    <div class="invalid-feedback">
                      Please enter your confirm password!
                    </div>
                  </div>
                  <div class="col-12 text-center">
                    <button class="btn btn-primary w-25" type="submit">
                      Create Account
                    </button>
                  </div>
                  <div class="col-12 text-center">
                    <p class="small mb-0">
                      Already have an account? <a routerLink="/login">Log in</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
