<main id="main" class="main">
  <div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/dq" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/design.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"

                    />
                  </div>
                  <h5 class="text-center">Design Qualification</h5>
                  <h3 class="card-title mb-2 text-center">{{ dq }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/iq" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/instal.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Instalation Qualification</h5>
                  <h3 class="card-title mb-2 text-center">{{ iq }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/pq" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/performance.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Performance Qualification</h5>
                  <h3 class="card-title mb-2 text-center">{{ pq }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/pv" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/protocol.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Protocol Validation</h5>
                  <h3 class="card-title mb-2 text-center">{{ pv }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/oq" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/operation.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Operational Qualification</h5>
                  <h3 class="card-title mb-2 text-center">{{ oq }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/rv" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/report.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Report Validation</h5>
                  <h3 class="card-title mb-2 text-center">{{ rv }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/fat" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/fat.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">FAT</h5>
                  <h3 class="card-title mb-2 text-center">{{ fat }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/fr" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/switch.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Usulan Perubahan</h5>
                  <h3 class="card-title mb-2 text-center">{{ fr }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/ms" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/material.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Material Specifiation</h5>
                  <h3 class="card-title mb-2 text-center">{{ ms }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/ps" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/package.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Packaging Specification</h5>
                  <h3 class="card-title mb-2 text-center">{{ ps }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/qs" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/quality.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Quality Statement</h5>
                  <h3 class="card-title mb-2 text-center">{{ qs }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/st" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/stab.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Stability Test</h5>
                  <h3 class="card-title mb-2 text-center">{{ st }}</h3>
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <a routerLink="/sop" class="m-3">
              <div class="card" style="height: 215px;border-radius: 15px;">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/sop.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">Standard Operational Procedure</h5>
                  <h3 class="card-title mb-2 text-center">{{ sop }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
