<main id="main" class="main">
  <div class="container-xxl flex-grow-1 container-p-y">
    <!-- <iframe src="assets/files/contoh_pdf.pdf" frameborder="0" width="500px" height="800px"></iframe>
    <a href="assets/files/contoh_pdf.pdf"> halo</a> -->
    <div class="row">
      <div class="col-12">
        <div class="row justify-content-center">
          <div
            class="col-lg-3 col-md-4 col-sm-12 col-12"
            *ngFor="let item of count"
          >
            <a routerLink="/{{ item.code | lowercase }}" class="">
              <div class="card" style="height: 215px; border-radius: 15px">
                <div class="card-body">
                  <div class="d-flex justify-content-center">
                    <img
                      src=" assets/img/icon/{{ item.code | lowercase }}.png"
                      alt="chart success"
                      class="rounded m-2"
                      width="75"
                    />
                  </div>
                  <h5 class="text-center">{{ item.name }}</h5>
                  <h3 class="card-title mb-2 text-center">{{ item.amount }}</h3>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
